Repository keyboardio/Kaleidoscope, pull requests merged in 2018-11, with the labels that each got.

#451 Unicode: Add a way to slow it all down
  doc/plugin/Unicode.md
  src/kaleidoscope/plugin/Unicode.cpp
  src/kaleidoscope/plugin/Unicode.h
Labels: enhancement, pending, plugin

#453 previous_key in cycleAction now contains modifier key flags
  doc/plugin/Cycle.md
  examples/Cycle/Cycle.ino
  src/kaleidoscope/plugin/Cycle.cpp
  src/kaleidoscope/plugin/Cycle.h
Labels: enhancement, pending, plugin

#454 Atreus: Minor refactoring around row selection during scan
  src/kaleidoscope/hardware/Atreus.cpp
  src/kaleidoscope/hardware/Atreus.h
Labels: enhancement, pending, plugin:hardware

#458 Assorted NEWS.md updates
  NEWS.md
Labels: docs, pending

#461 Generic AVR hardware base class
  examples/Atreus/Makefile
  src/Kaleidoscope-Hardware-Technomancy-Atreus.h
  src/kaleidoscope/hardware/ATMegaKeyboard.cpp
  src/kaleidoscope/hardware/ATMegaKeyboard.h
  src/kaleidoscope/hardware/Atreus.cpp
  src/kaleidoscope/hardware/Atreus.h
  src/kaleidoscope/hardware/ErgoDox.h
  src/kaleidoscope/hardware/Model01.h
  src/kaleidoscope/hardware/key_indexes.h
  src/kaleidoscope/hardware/olkb/Planck.cpp
  src/kaleidoscope/hardware/olkb/Planck.h
  src/kaleidoscope/hardware/technomancy/Atreus.cpp
  src/kaleidoscope/hardware/technomancy/Atreus.h
  src/kaleidoscope/key_events.h
  src/kaleidoscope/layers.h
  src/kaleidoscope/macro_helpers.h
Labels: enhancement, pending, plugin:hardware

#462 doc: Add a very short README for the Planck, and a NEWS entry
  NEWS.md
  doc/plugin/Hardware-OLKB-Planck.md
Labels: docs, enhancement, pending, plugin:hardware

#464 hardware/ATMegaKeyboard: Don't hardcode the list of keyboards
  src/Kaleidoscope-Hardware-OLKB-Planck.h
  src/Kaleidoscope-Hardware-Technomancy-Atreus.h
  src/kaleidoscope/hardware/ATMegaKeyboard.cpp
  src/kaleidoscope/hardware/ATMegaKeyboard.h
Labels: enhancement, pending, plugin:hardware

#467 Remove two uses of the obsolete `LED-Off.h` header
  examples/FingerPainter/FingerPainter.ino
  examples/LEDEffects/LEDEffects.ino
Labels: bug, pending

#466 Macros: Add a way to have more control over when reports are sent
  NEWS.md
  doc/plugin/Macros.md
  src/kaleidoscope/plugin/Macros.cpp
  src/kaleidoscope/plugin/Macros/MacroSteps.h
Labels: enhancement, pending, plugin:macros

#465 Document the ATMegaKeyboard helper a bit
  NEWS.md
  doc/plugin/ATMegaKeyboard.md
Labels: docs, enhancement, pending, plugin:hardware

#471 hardware: Vendorize the ErgoDox and the Model01 ports
  src/Kaleidoscope-Hardware-EZ-ErgoDox.h
  src/Kaleidoscope-Hardware-Model01.h
  src/kaleidoscope/hardware/ez/ErgoDox.cpp
  src/kaleidoscope/hardware/ez/ErgoDox.h
  src/kaleidoscope/hardware/ez/ErgoDox/ErgoDoxScanner.cpp
  src/kaleidoscope/hardware/ez/ErgoDox/ErgoDoxScanner.h
  src/kaleidoscope/hardware/ez/ErgoDox/i2cmaster.cpp
  src/kaleidoscope/hardware/ez/ErgoDox/i2cmaster.h
  src/kaleidoscope/hardware/keyboardio/Model01.cpp
  src/kaleidoscope/hardware/keyboardio/Model01.h
Labels: enhancement, pending, plugin:hardware

#363 Introduce a new event: onLayerChange
  NEWS.md
  src/kaleidoscope/event_handlers.h
  src/kaleidoscope/hooks.h
  src/kaleidoscope/layers.cpp
  src/kaleidoscope/plugin/Colormap.cpp
  src/kaleidoscope/plugin/Colormap.h
  src/kaleidoscope/plugin/LED-ActiveModColor.cpp
  src/kaleidoscope/plugin/LED-ActiveModColor.h
Labels: enhancement

#472 Reorganize our examples directory to try to make it easier to work with
  bin/kaleidoscope-builder
  examples/Devices/Atreus/.kaleidoscope-builder.conf
  examples/Devices/Atreus/Atreus.ino
  examples/Devices/Atreus/Makefile
  examples/Devices/ErgoDox/.kaleidoscope-builder.conf
  examples/Devices/ErgoDox/ErgoDox.ino
  examples/Devices/Keyboardio/Kaleidoscope/Kaleidoscope.ino
  examples/Devices/Planck/.kaleidoscope-builder.conf
  examples/Devices/Planck/Makefile
  examples/Devices/Planck/Planck.ino
  examples/Features/AppSwitcher/AppSwitcher.ino
  examples/Features/AppSwitcher/Macros.cpp
  examples/Features/AppSwitcher/Macros.h
  examples/Features/CycleTimeReport/CycleTimeReport.ino
  examples/Features/EEPROM/EEPROM-Keymap-Programmer/EEPROM-Keymap-Programmer.ino
  examples/Features/EEPROM/EEPROM-Keymap/EEPROM-Keymap.ino
  examples/Features/EEPROM/EEPROM-Settings/EEPROM-Settings.ino
  examples/Features/FocusSerial/FocusSerial.ino
  examples/Features/HostOS/HostOS.ino
  examples/Features/HostPowerManagement/HostPowerManagement.ino
  examples/Features/Steno/Steno.ino
  examples/Features/TypingBreaks/TypingBreaks.ino
  examples/Keystrokes/Cycle/Cycle.ino
  examples/Keystrokes/Escape-OneShot/Escape-OneShot.ino
  examples/Keystrokes/Leader/Leader.ino
  examples/Keystrokes/MagicCombo/MagicCombo.ino
  examples/Keystrokes/OneShot/OneShot.ino
  examples/Keystrokes/Qukeys/Qukeys.ino
  examples/Keystrokes/Redial/Redial.ino
  examples/Keystrokes/ShapeShifter/ShapeShifter.ino
  examples/Keystrokes/SpaceCadet/SpaceCadet.ino
  examples/Keystrokes/Syster/Syster.ino
  examples/Keystrokes/TapDance/TapDance.ino
  examples/Keystrokes/TopsyTurvy/TopsyTurvy.ino
  examples/Keystrokes/Unicode/Unicode.ino
  examples/LEDs/Colormap/Colormap.ino
  examples/LEDs/FingerPainter/FingerPainter.ino
  examples/LEDs/GhostInTheFirmware/GhostInTheFirmware.ino
  examples/LEDs/Heatmap/Heatmap.ino
  examples/LEDs/IdleLEDs/IdleLEDs.ino
  examples/LEDs/LED-ActiveModColor/LED-ActiveModColor.ino
  examples/LEDs/LED-AlphaSquare/LED-AlphaSquare.ino
  examples/LEDs/LED-Palette-Theme/LED-Palette-Theme.ino
  examples/LEDs/LED-Stalker/LED-Stalker.ino
  examples/LEDs/LEDEffect-BootGreeting/LEDEffect-BootGreeting.ino
  examples/LEDs/LEDEffects/LEDEffects.ino
Labels: enhancement, pending

#474 ErgoDox optimisations
  src/kaleidoscope/hardware/ez/ErgoDox.cpp
  src/kaleidoscope/hardware/ez/ErgoDox/ErgoDoxScanner.cpp
  src/kaleidoscope/hardware/ez/ErgoDox/ErgoDoxScanner.h
Labels: enhancement, pending, plugin:hardware

#483 doc: Update the ErgoDox & Atreus docs to mention teensy_loader_cli
  doc/plugin/Hardware-EZ-ErgoDox.md
  doc/plugin/Hardware-Technomancy-Atreus.md
Labels: bug, docs, pending, plugin:hardware
