Repository keyboardio/Kaleidoscope, pull requests merged in 2018-12, with the labels that each got.

#485 New plugin: WinKeyToggle
  NEWS.md
  doc/plugin/WinKeyToggle.md
  examples/Keystrokes/WinKeyToggle/WinKeyToggle.ino
  src/Kaleidoscope-WinKeyToggle.h
  src/kaleidoscope/plugin/WinKeyToggle.cpp
  src/kaleidoscope/plugin/WinKeyToggle.h
Labels: enhancement, pending, plugin

#486 License clarification & copyright assignments
  src/Kaleidoscope-Heatmap.h
  src/Kaleidoscope-HostPowerManagement.h
  src/Kaleidoscope-Redial.h
  src/Kaleidoscope-Steno.h
  src/Kaleidoscope-USB-Quirks.h
  src/kaleidoscope/plugin/GeminiPR.cpp
  src/kaleidoscope/plugin/GeminiPR.h
  src/kaleidoscope/plugin/Heatmap.cpp
  src/kaleidoscope/plugin/Heatmap.h
  src/kaleidoscope/plugin/HostPowerManagement.cpp
  src/kaleidoscope/plugin/HostPowerManagement.h
  src/kaleidoscope/plugin/Redial.cpp
  src/kaleidoscope/plugin/Redial.h
  src/kaleidoscope/plugin/USB-Quirks.cpp
  src/kaleidoscope/plugin/USB-Quirks.h
Labels: bug, pending, plugin

#478 Add support for more Atreus variants
  doc/plugin/Hardware-Technomancy-Atreus.md
  src/Kaleidoscope-Hardware-Technomancy-Atreus.h
  src/kaleidoscope/hardware/technomancy/Atreus.h
Labels: enhancement, pending, plugin:hardware

#491 Support for the SOFT/HRUF Splitography Steno Keyboard
  NEWS.md
  doc/plugin/Hardware-SOFTHRUF-Splitography.md
  examples/Devices/Splitography/.kaleidoscope-builder.conf
  examples/Devices/Splitography/Makefile
  examples/Devices/Splitography/Splitography.ino
  src/Kaleidoscope-Hardware-SOFTHRUF-Splitography.h
  src/kaleidoscope/hardware/softhruf/Splitography.cpp
  src/kaleidoscope/hardware/softhruf/Splitography.h
Labels: enhancement, pending, plugin:hardware

#493 New plugin: ActiveLayerColor
  NEWS.md
  doc/plugin/LED-ActiveLayerColor.md
  examples/LEDs/LED-ActiveLayerColor/LED-ActiveLayerColor.ino
  src/Kaleidoscope-LED-ActiveLayerColor.h
  src/kaleidoscope/plugin/LED-ActiveLayerColor.cpp
  src/kaleidoscope/plugin/LED-ActiveLayerColor.h
Labels: enhancement, leds, pending

#494 doc/plugin/: Update all the example references
  doc/plugin/Colormap.md
  doc/plugin/Cycle.md
  doc/plugin/CycleTimeReport.md
  doc/plugin/EEPROM-Keymap-Programmer.md
  doc/plugin/EEPROM-Keymap.md
  doc/plugin/EEPROM-Settings.md
  doc/plugin/Escape-OneShot.md
  doc/plugin/FingerPainter.md
  doc/plugin/FocusSerial.md
  doc/plugin/GhostInTheFirmware.md
  doc/plugin/Heatmap.md
  doc/plugin/HostOS.md
  doc/plugin/HostPowerManagement.md
  doc/plugin/IdleLEDs.md
  doc/plugin/LED-ActiveModColor.md
  doc/plugin/LED-AlphaSquare.md
  doc/plugin/LED-Palette-Theme.md
  doc/plugin/LED-Stalker.md
  doc/plugin/LEDEffects.md
  doc/plugin/Leader.md
  doc/plugin/MagicCombo.md
  doc/plugin/OneShot.md
  doc/plugin/Qukeys.md
  doc/plugin/Redial.md
  doc/plugin/ShapeShifter.md
  doc/plugin/SpaceCadet.md
  doc/plugin/Steno.md
  doc/plugin/Syster.md
  doc/plugin/TapDance.md
  doc/plugin/TopsyTurvy.md
  doc/plugin/TypingBreaks.md
  doc/plugin/Unicode.md
  doc/plugin/WinKeyToggle.md
Labels: bug, docs, pending

#490 NEWS: Update the Atreus NEWS
  NEWS.md
Labels: bug, docs, pending

#489 Require an explicit Serial.begin() for Focus
  src/kaleidoscope/Kaleidoscope.cpp
  src/kaleidoscope/plugin/FocusSerial.h
Labels: bug, pending, plugin:focus

#260 Layer: Rename a few functions, to use more understandable names
  UPGRADING.md
  src/kaleidoscope/layers.cpp
  src/kaleidoscope/layers.h
  src/kaleidoscope/plugin/LED-ActiveModColor.cpp
  src/kaleidoscope/plugin/NumPad.cpp
  src/kaleidoscope_internal/deprecations.h
Labels: enhancement, pending

#480 Add rules and scripts for building on FreeBSD.
  bin/find-device-port-freebsd
  bin/kaleidoscope-builder
  etc/kaleidoscope-builder.conf
Labels: enhancement

#499 kaleidoscope-builder: Fix the avr-size invocation
  bin/kaleidoscope-builder
Labels: bug, pending

#503 kaleidoscope-builder: Make shellcheck happy
  bin/kaleidoscope-builder
Labels: bug, pending

#504 Implement a kaleidoscope::Hardware base class
  src/kaleidoscope/Hardware.h
  src/kaleidoscope/hardware/ATMegaKeyboard.cpp
  src/kaleidoscope/hardware/ATMegaKeyboard.h
  src/kaleidoscope/hardware/ez/ErgoDox.cpp
  src/kaleidoscope/hardware/ez/ErgoDox.h
  src/kaleidoscope/hardware/keyboardio/Model01.cpp
  src/kaleidoscope/hardware/keyboardio/Model01.h
Labels: enhancement, pending, plugin:hardware

#508 LED-ActiveModColor: Use lookupOnActiveLayer() instead of lookup()
  src/kaleidoscope/plugin/LED-ActiveModColor.cpp
Labels: bug, leds, pending, plugin

#510 Pull in an updated LED-Wavepool plugin
  NEWS.md
  doc/plugin/LED-Wavepool.md
  examples/LEDs/LED-Wavepool/LED-Wavepool.ino
  src/Kaleidoscope-LED-Wavepool.h
  src/kaleidoscope/plugin/LED-Wavepool.cpp
  src/kaleidoscope/plugin/LED-Wavepool.h
Labels: enhancement, leds, pending, plugin

#515 hardware/Atreus: Fix a thinko in the legacy-teensy variant's code
  src/kaleidoscope/hardware/technomancy/Atreus.h
Labels: bug, pending, plugin:hardware

#514 FocusSerial: Only send a single separator when sending Keys
  src/kaleidoscope/plugin/FocusSerial.h
Labels: bug, pending, plugin:focus
