Repository keyboardio/Kaleidoscope, pull requests merged in 2019-02, with the labels that each got.

#533 Add functions for determining if any modifier is active
  src/kaleidoscope/hid.h
Labels: enhancement

#553 EEPROMKeymap redesign
  NEWS.md
  UPGRADING.md
  doc/plugin/EEPROM-Keymap.md
  doc/plugin/EEPROM-Settings.md
  src/kaleidoscope/plugin/EEPROM-Keymap.cpp
  src/kaleidoscope/plugin/EEPROM-Keymap.h
  src/kaleidoscope/plugin/EEPROM-Settings.cpp
  src/kaleidoscope/plugin/EEPROM-Settings.h
Labels: enhancement, pending, plugin:eeprom

#557 LED-Palette-Theme: Defer requesting a slice as late as possible
  NEWS.md
  src/kaleidoscope/plugin/LED-Palette-Theme.cpp
  src/kaleidoscope/plugin/LED-Palette-Theme.h
Labels: bug, leds, pending, plugin

#567 OneShot optimizations
  src/kaleidoscope/plugin/OneShot.cpp
  src/kaleidoscope/plugin/OneShot.h
Labels: enhancement, pending, plugin:oneshot

#573 OneShot: Fix isPressed() and isSticky()
  src/kaleidoscope/plugin/OneShot.cpp
  src/kaleidoscope/plugin/OneShot.h
Labels: bug, pending, plugin:oneshot

#576 TapDance: Switch from 16-bit bitfields to using a struct
  src/kaleidoscope/plugin/TapDance.cpp
  src/kaleidoscope/plugin/TapDance.h
Labels: enhancement, pending, plugin:tapdance

#579 Remove some deprecated interfaces
  UPGRADING.md
  src/kaleidoscope/layers.h
  src/kaleidoscope_internal/deprecations.h
Labels: enhancement, pending

#578 UPGRADING.md: Add a removal date for the old stickability props
  UPGRADING.md
Labels: docs, enhancement, pending, plugin:oneshot

#580 README.md: Fix the example link
  README.md
Labels: bug, docs, pending
