Repository keyboardio/Kaleidoscope, pull requests merged in 2019-11, with the labels that each got.

#711 travis: Force Arduino to use the current copy of Kaleidoscope
  .travis.yml
Labels: bug, pending

#703 Cygwin support for kaleidoscope-builder
  bin/find-device-port-windows.ps1
  bin/kaleidoscope-builder
  etc/kaleidoscope-builder.conf
Labels: enhancement

#713 New plugin: PersistentLEDMode
  examples/LEDs/PersistentLEDMode/PersistentLEDMode.ino
  src/Kaleidoscope-PersistentLEDMode.h
  src/kaleidoscope/plugin/PersistentLEDMode.cpp
  src/kaleidoscope/plugin/PersistentLEDMode.h
Labels: enhancement, leds, pending

#708 IdleLEDs: Optional support for EEPROM-Storage & Focus
  doc/plugin/IdleLEDs.md
  examples/LEDs/IdleLEDs/IdleLEDs.ino
  src/kaleidoscope/plugin/IdleLEDs.cpp
  src/kaleidoscope/plugin/IdleLEDs.h
Labels: enhancement, leds, pending, plugin

#719 Guard AVR-specific parts with ifdefs
  src/kaleidoscope/Hardware.h
  src/kaleidoscope/device/keyboardio/twi.c
  src/kaleidoscope/device/keyboardio/twi.h
  src/kaleidoscope/driver/bootloader/None.h
  src/kaleidoscope/driver/storage/AVREEPROM.h
  src/kaleidoscope/plugin/FirmwareDump.cpp
  src/kaleidoscope/plugin/FirmwareDump.h
Labels: bug, plugin:hardware

#725 Improved ATmega class naming
  src/kaleidoscope/device/ATmega32U4Keyboard.h
  src/kaleidoscope/device/ez/ErgoDox.h
  src/kaleidoscope/device/kbdfans/KBD4x.cpp
  src/kaleidoscope/device/kbdfans/KBD4x.h
  src/kaleidoscope/device/keyboardio/Imago.cpp
  src/kaleidoscope/device/keyboardio/Imago.h
  src/kaleidoscope/device/keyboardio/Model01.h
  src/kaleidoscope/device/olkb/Planck.cpp
  src/kaleidoscope/device/olkb/Planck.h
  src/kaleidoscope/device/softhruf/Splitography.cpp
  src/kaleidoscope/device/softhruf/Splitography.h
  src/kaleidoscope/device/technomancy/Atreus.cpp
  src/kaleidoscope/device/technomancy/Atreus.h
  src/kaleidoscope/device/technomancy/Atreus2.cpp
  src/kaleidoscope/device/technomancy/Atreus2.h
  src/kaleidoscope/driver/keyscanner/ATmega.h
  src/kaleidoscope/driver/mcu/ATmega32U4.h
  src/kaleidoscope/driver/storage/ATmega32U4EEPROMProps.h
Labels: bug, pending, plugin:hardware

#729 Key offset to LED index map made LED driver property
  src/kaleidoscope/device/keyboardio/Imago.cpp
  src/kaleidoscope/device/keyboardio/Imago.h
  src/kaleidoscope/device/keyboardio/Model01.cpp
  src/kaleidoscope/device/keyboardio/Model01.h
  src/kaleidoscope/driver/led/Base.h
Labels: enhancement, leds, plugin:hardware

#733 Add an `onLEDModeChange()` hook
  src/kaleidoscope/event_handlers.h
  src/kaleidoscope/hooks.h
  src/kaleidoscope/plugin/LEDControl.cpp
  src/kaleidoscope/plugin/PersistentLEDMode.cpp
  src/kaleidoscope/plugin/PersistentLEDMode.h
Labels: enhancement, leds, pending, plugin:eeprom
