Repository keyboardio/Kaleidoscope, pull requests merged in 2019-03, with the labels that each got.

#596 EEPROMSettings: Don't try to be clever with bit masking
  src/kaleidoscope/plugin/EEPROM-Settings.cpp
  src/kaleidoscope/plugin/EEPROM-Settings.h
Labels: bug, pending, plugin:eeprom

#605 Fix OneShot premature timeout
  src/kaleidoscope/plugin/OneShot.cpp
Labels: bug, plugin:oneshot

#610 Introduce an MCU driver
  src/kaleidoscope/driver/MCU.h
  src/kaleidoscope/hardware/ATMegaKeyboard.h
  src/kaleidoscope/hardware/kbdfans/KBD4x.h
  src/kaleidoscope/hardware/softhruf/Splitography.h
Labels: enhancement, pending, plugin:hardware

#614 examples/EEPROM-Keymap: Stop using deprecated interfaces
  examples/Features/EEPROM/EEPROM-Keymap/EEPROM-Keymap.ino
Labels: bug, pending, plugin:eeprom

#609 ActiveModColor: Re-scan the keymap if no mods found
  src/kaleidoscope/plugin/LED-ActiveModColor.cpp
Labels: bug, leds, pending, plugin:oneshot

#615 TopsyTurvy: Ensure active state toggles off
  src/kaleidoscope/plugin/TopsyTurvy.cpp
Labels: bug

#593 Led control efficiency changes
  src/kaleidoscope/plugin/LEDControl.cpp
Labels: enhancement, leds

#505 Fix Qukeys layer-shift bugs
  src/kaleidoscope/key_events.cpp
  src/kaleidoscope/keyswitch_state.h
  src/kaleidoscope/layers.h
  src/kaleidoscope/plugin/OneShot.cpp
  src/kaleidoscope/plugin/OneShot.h
  src/kaleidoscope/plugin/Qukeys.cpp
  src/kaleidoscope/plugin/Qukeys.h
  src/kaleidoscope/plugin/SpaceCadet.cpp
Labels: bug

#595 A more widely usable version of the Model01 test mode
  src/Kaleidoscope-HardwareTestMode.h
  src/kaleidoscope/Hardware.h
  src/kaleidoscope/hardware/ATMegaKeyboard.cpp
  src/kaleidoscope/hardware/ATMegaKeyboard.h
  src/kaleidoscope/hardware/ez/ErgoDox.cpp
  src/kaleidoscope/hardware/ez/ErgoDox.h
  src/kaleidoscope/hardware/keyboardio/Model01.cpp
  src/kaleidoscope/hardware/keyboardio/Model01.h
  src/kaleidoscope/plugin/HardwareTestMode.cpp
  src/kaleidoscope/plugin/HardwareTestMode.h
Labels: enhancement
