Repository keyboardio/Kaleidoscope, pull requests merged in 2022-03, with the labels that each got.

#1120 Add verification of mouse reports to testing infrastructure
  testing/ExpectedMouseReport.cpp
  testing/ExpectedMouseReport.h
  testing/HIDState.cpp
  testing/HIDState.h
  testing/MouseReport.cpp
  testing/MouseReport.h
  testing/VirtualDeviceTest.cpp
  testing/VirtualDeviceTest.h
  testing/bin/ktest-to-cxx
  tests/plugins/MouseKeys/basic/basic.ino
  tests/plugins/MouseKeys/basic/sketch.json
  tests/plugins/MouseKeys/basic/test.ktest
Labels: plugin:mouse, testing

#1121 Remove `static` declaration from OneShot variables and functions
  plugins/Kaleidoscope-OneShot/src/kaleidoscope/plugin/OneShot.cpp
  plugins/Kaleidoscope-OneShot/src/kaleidoscope/plugin/OneShot.h
  src/kaleidoscope/KeyAddrBitfield.h
  tests/issues/1061/1061.ino
Labels: plugin:oneshot

#1122 Fix docker simulator tests
  etc/docker-entrypoint.sh
Labels: bug, testing

#1123 Replace deprecated Leader code in docs and testcases
  plugins/Kaleidoscope-Leader/README.md
  tests/plugins/Leader/basic/basic.ino
Labels: docs, plugin:leader

#1124 Simplify our docker execution
  Makefile
  bin/docs/example-to-doc
  bin/run-docker
  docs/codebase/docker.md
  etc/Dockerfile
  etc/docker-entrypoint.sh
Labels: testing

#1128 Update ActiveModColor docs to match current API
  plugins/Kaleidoscope-LED-ActiveModColor/README.md
Labels: docs, plugin

#1114 Restructure MouseKeys to be aware of Macros virtual keys
  plugins/Kaleidoscope-MouseKeys/src/kaleidoscope/plugin/MouseKeys.cpp
  plugins/Kaleidoscope-MouseKeys/src/kaleidoscope/plugin/MouseKeys.h
  tests/issues/1113/1113.ino
  tests/issues/1113/sketch.json
  tests/issues/1113/test.ktest
Labels: bug, plugin:mouse

#1130 MouseKeys "janitorial" work
  plugins/Kaleidoscope-MouseKeys/src/kaleidoscope/plugin/MouseKeys.cpp
  plugins/Kaleidoscope-MouseKeys/src/kaleidoscope/plugin/MouseKeys.h
  plugins/Kaleidoscope-MouseKeys/src/kaleidoscope/plugin/mousekeys/MouseKeyDefs.h
  plugins/Kaleidoscope-MouseKeys/src/kaleidoscope/plugin/mousekeys/MouseWarpModes.h
  plugins/Kaleidoscope-MouseKeys/src/kaleidoscope/plugin/mousekeys/MouseWrapper.cpp
  plugins/Kaleidoscope-MouseKeys/src/kaleidoscope/plugin/mousekeys/MouseWrapper.h
Labels: plugin:mouse

#1135 Improve ActiveModColor example sketch
  examples/LEDs/LED-ActiveModColor/LED-ActiveModColor.ino
Labels: example

#1137 EEPROM-Settings: Implement an `eeprom.erase` command
  plugins/Kaleidoscope-EEPROM-Settings/README.md
  plugins/Kaleidoscope-EEPROM-Settings/src/kaleidoscope/plugin/EEPROM-Settings.cpp
Labels: enhancement, plugin:eeprom

#1140 FocusSerial: Implement a `device.reset` command
  plugins/Kaleidoscope-FocusSerial/src/kaleidoscope/plugin/FocusSerial.cpp
Labels: enhancement, plugin:focus

#1146 Add Storage.isSliceUninitialized(), and convert some of our plugins to use it.
  plugins/Kaleidoscope-AutoShift/src/kaleidoscope/plugin/AutoShiftConfig.cpp
  plugins/Kaleidoscope-Escape-OneShot/src/kaleidoscope/plugin/Escape-OneShot-Config.cpp
  plugins/Kaleidoscope-TypingBreaks/src/kaleidoscope/plugin/TypingBreaks.cpp
  src/kaleidoscope/driver/storage/Base.h
Labels: enhancement

#1149 hardware/gd32/Eval: Update and simplify the evaluation board plugin
  plugins/Kaleidoscope-Hardware-GD32-Eval/src/kaleidoscope/device/gd32/Eval.cpp
  plugins/Kaleidoscope-Hardware-GD32-Eval/src/kaleidoscope/device/gd32/Eval.h
  plugins/Kaleidoscope-Hardware-GD32-Eval/src/kaleidoscope/device/gd32/eval/KeyScanner.cpp
  plugins/Kaleidoscope-Hardware-GD32-Eval/src/kaleidoscope/device/gd32/eval/KeyScanner.h
Labels: bug, enhancement

#1150 Runtime: Initialize the hardware first at setup time
  src/kaleidoscope/Runtime.cpp
Labels: bug

#1152 driver::storage::GD32Flash: Don't duplicate commit()
  src/kaleidoscope/driver/storage/GD32Flash.h
Labels: bug, plugin:hardware
