Repository keyboardio/Kaleidoscope, pull requests merged in 2022-06, with the labels that each got.

#1199 Add rollover test for PrefixLayer plugin
  tests/plugins/PrefixLayer/basic/test.ktest
Labels: plugin, testcase

#1198 New plugin: DefaultLEDModeConfig
  plugins/Kaleidoscope-DefaultLEDModeConfig/README.md
  plugins/Kaleidoscope-DefaultLEDModeConfig/library.properties
  plugins/Kaleidoscope-DefaultLEDModeConfig/src/Kaleidoscope-DefaultLEDModeConfig.h
  plugins/Kaleidoscope-DefaultLEDModeConfig/src/kaleidoscope/plugin/DefaultLEDModeConfig.cpp
  plugins/Kaleidoscope-DefaultLEDModeConfig/src/kaleidoscope/plugin/DefaultLEDModeConfig.h
Labels: enhancement, plugin

#1196 driver::storage: Fix isSliceUninitialized() for AVREEPROM
  src/kaleidoscope/driver/storage/AVREEPROM.h
  src/kaleidoscope/driver/storage/Base.h
Labels: bug

#1185 Code sharing for Macros & DynamicMacros, et al
  examples/Keystrokes/LeaderPrefix/LeaderPrefix.ino
  plugins/Kaleidoscope-DynamicMacros/README.md
  plugins/Kaleidoscope-DynamicMacros/src/kaleidoscope/plugin/DynamicMacros.cpp
  plugins/Kaleidoscope-DynamicMacros/src/kaleidoscope/plugin/DynamicMacros.h
  plugins/Kaleidoscope-MacroSupport/README.md
  plugins/Kaleidoscope-MacroSupport/library.properties
  plugins/Kaleidoscope-MacroSupport/src/Kaleidoscope-MacroSupport.h
  plugins/Kaleidoscope-MacroSupport/src/kaleidoscope/plugin/MacroSupport.cpp
  plugins/Kaleidoscope-MacroSupport/src/kaleidoscope/plugin/MacroSupport.h
  plugins/Kaleidoscope-Macros/README.md
  plugins/Kaleidoscope-Macros/src/kaleidoscope/plugin/Macros.cpp
  plugins/Kaleidoscope-Macros/src/kaleidoscope/plugin/Macros.h
  tests/issues/1042/1042.ino
Labels: plugin:macros, design-change

#1188 Colormap: New plugin: DefaultColormap
  examples/LEDs/Colormap/Colormap.ino
  plugins/Kaleidoscope-Colormap/README.md
  plugins/Kaleidoscope-Colormap/src/Kaleidoscope-Colormap.h
  plugins/Kaleidoscope-Colormap/src/kaleidoscope/plugin/Colormap.cpp
  plugins/Kaleidoscope-Colormap/src/kaleidoscope/plugin/Colormap.h
  plugins/Kaleidoscope-Colormap/src/kaleidoscope/plugin/DefaultColormap.cpp
  plugins/Kaleidoscope-Colormap/src/kaleidoscope/plugin/DefaultColormap.h
  plugins/Kaleidoscope-FingerPainter/src/kaleidoscope/plugin/FingerPainter.cpp
  plugins/Kaleidoscope-LED-Palette-Theme/src/kaleidoscope/plugin/LED-Palette-Theme.cpp
  plugins/Kaleidoscope-LED-Palette-Theme/src/kaleidoscope/plugin/LED-Palette-Theme.h
Labels: enhancement, leds, plugin

#1201 Assorted Model100 firmware updates
  examples/Devices/Keyboardio/Model100/Model100.ino
Labels: enhancement, example

#1205 New plugin: FirmwareVersion
  plugins/Kaleidoscope-FirmwareVersion/README.md
  plugins/Kaleidoscope-FirmwareVersion/library.properties
  plugins/Kaleidoscope-FirmwareVersion/src/Kaleidoscope-FirmwareVersion.h
  plugins/Kaleidoscope-FirmwareVersion/src/kaleidoscope/plugin/FirmwareVersion.h
Labels: enhancement

#1209 hardware: Fix the bootloader props on a number of devices
  docs/api-reference/device-apis.md
  plugins/Kaleidoscope-Hardware-Dygma-Raise/src/kaleidoscope/device/dygma/Raise.h
  plugins/Kaleidoscope-Hardware-GD32-Eval/src/kaleidoscope/device/gd32/Eval.h
  plugins/Kaleidoscope-Hardware-Keyboardio-Atreus/src/kaleidoscope/device/keyboardio/Atreus2.h
  plugins/Kaleidoscope-Hardware-Keyboardio-Imago/src/kaleidoscope/device/keyboardio/Imago.h
  plugins/Kaleidoscope-Hardware-Keyboardio-Model01/src/kaleidoscope/device/keyboardio/Model01.h
  plugins/Kaleidoscope-Hardware-Keyboardio-Model100/src/kaleidoscope/device/keyboardio/Model100.h
  plugins/Kaleidoscope-Hardware-SOFTHRUF-Splitography/src/kaleidoscope/device/softhruf/Splitography.h
  plugins/Kaleidoscope-Hardware-Technomancy-Atreus/src/kaleidoscope/device/technomancy/Atreus.h
  src/kaleidoscope/device/virtual/Virtual.h
Labels: bug, hardware
