Repository keyboardio/Kaleidoscope, pull requests merged in 2022-02, with the labels that each got.

#1102 Improvements to Macros upgrading documentation
  plugins/Kaleidoscope-Macros/README.md
  plugins/Kaleidoscope-Macros/UPGRADING.md
Labels: plugin:macros, docs

#1103 Move Macros upgrading docs to the main UPGRADING.md file
  docs/UPGRADING.md
  plugins/Kaleidoscope-Macros/README.md
Labels: plugin:macros, docs

#1107 Fix Qukeys memory bounds violation
  plugins/Kaleidoscope-Qukeys/src/kaleidoscope/plugin/Qukeys.cpp
  src/kaleidoscope/KeyAddrEventQueue.h
  tests/issues/1107/1107.ino
  tests/issues/1107/sketch.json
  tests/issues/1107/test/testcase.cpp
Labels: bug, plugin:qukeys

#1106 Add ktest command to emulate delays without running cycles
  testing/bin/ktest-to-cxx
Labels: testing

#1108 Improve testcases for #1107
  tests/issues/1107/QueueLeaker/QueueLeaker.ino
  tests/issues/1107/QueueLeaker/sketch.json
  tests/issues/1107/QueueLeaker/test/testcase.cpp
  tests/issues/1107/Qukeys/Qukeys.ino
  tests/issues/1107/Qukeys/common.h
  tests/issues/1107/Qukeys/sketch.json
  tests/issues/1107/Qukeys/test/testcase.cpp
Labels: testing

#1097 Example ShiftBlocker plugin
  examples/Features/ShiftBlocker/ShiftBlocker.ino
  examples/Features/ShiftBlocker/sketch.json
  tests/plugins/Macros/shift-blocker/shift-blocker.ino
  tests/plugins/Macros/shift-blocker/sketch.json
  tests/plugins/Macros/shift-blocker/test.ktest
Labels: docs, plugin

#1111 Distinguish between TapDance "tap" and "hold" timeouts
  plugins/Kaleidoscope-TapDance/README.md
  plugins/Kaleidoscope-TapDance/src/kaleidoscope/plugin/TapDance.cpp
  plugins/Kaleidoscope-TapDance/src/kaleidoscope/plugin/TapDance.h
  tests/plugins/TapDance/basic/basic.ino
  tests/plugins/TapDance/basic/test.ktest
Labels: enhancement, plugin:tapdance

#1112 driver::storage::GD32Flash: Adjust the default storage size
  src/kaleidoscope/driver/storage/GD32Flash.h
Labels: bug
