Repository keyboardio/Kaleidoscope, pull requests merged in 2022-05, with the labels that each got.

#1167 Export mouse warp grid constants
  examples/Features/MouseKeys/MouseKeys.ino
  examples/Features/MouseKeys/sketch.json
  plugins/Kaleidoscope-MouseKeys/README.md
  plugins/Kaleidoscope-MouseKeys/src/Kaleidoscope-MouseKeys.h
Labels: bug, docs, example

#1172 DynamicMacros fixes
  plugins/Kaleidoscope-DynamicMacros/src/kaleidoscope/plugin/DynamicMacros.cpp
  plugins/Kaleidoscope-DynamicMacros/src/kaleidoscope/plugin/DynamicMacros.h
  plugins/Kaleidoscope-Macros/src/kaleidoscope/plugin/Macros.cpp
Labels: bug, plugin:macros

#1178 FocusSerial: isEOL() should return true when there's no more data
  plugins/Kaleidoscope-FocusSerial/src/kaleidoscope/plugin/FocusSerial.h
Labels: bug, plugin:focus

#1162 Expand and improve IWYU coverage
  .github/workflows/build.yml
  .iwyu_ignore
  Makefile
  bin/common.py
  bin/fix-header-includes
  bin/format-code.py
  bin/iwyu.py
  docs/codebase/code-style.md
  testing/AbsoluteMouseReport.cpp
  testing/AbsoluteMouseReport.h
  testing/ConsumerControlReport.cpp
  testing/ConsumerControlReport.h
  testing/ExpectedKeyboardReport.cpp
  testing/ExpectedKeyboardReport.h
  testing/ExpectedMouseReport.cpp
  testing/ExpectedMouseReport.h
  testing/HIDState.cpp
  testing/HIDState.h
  testing/KeyboardReport.cpp
  testing/KeyboardReport.h
  testing/MouseReport.cpp
  testing/MouseReport.h
  testing/SimHarness.cpp
  testing/SimHarness.h
  testing/State.h
  testing/SystemControlReport.cpp
  testing/SystemControlReport.h
  testing/VirtualDeviceTest.cpp
  testing/VirtualDeviceTest.h
  testing/gtest.h
  testing/iostream.h
  testing/matchers.h
  testing/setup-googletest.h
  tests/issues/951/test/testcase.cpp
Labels: testing, build-system

#1182 Stop `check-all-includes` from formatting googletest code
  Makefile
Labels: bug, testing, build-system

#1184 Fix Turbo's "sticky" mode
  plugins/Kaleidoscope-Turbo/README.md
  plugins/Kaleidoscope-Turbo/src/kaleidoscope/plugin/Turbo.cpp
  tests/plugins/Turbo/sticky/sketch.json
  tests/plugins/Turbo/sticky/sticky.ino
  tests/plugins/Turbo/sticky/test.ktest
Labels: bug, plugin:turbo

#1189 PersistentLEDMode: Add a Focus hook, and a way to disable the auto-save
  plugins/Kaleidoscope-PersistentLEDMode/src/kaleidoscope/plugin/PersistentLEDMode.cpp
  plugins/Kaleidoscope-PersistentLEDMode/src/kaleidoscope/plugin/PersistentLEDMode.h
Labels: enhancement, leds, plugin
