Repository keyboardio/Kaleidoscope, pull requests merged in 2023-03, with the labels that each got.

#1334 Fix "next" and "previous" layer shift keys
  src/kaleidoscope/layers.cpp
  tests/features/layers/use-cases/test.ktest
  tests/features/layers/use-cases/use-cases.ino
Labels: bug

#1336 Fix premature release of OneShot keys
  plugins/Kaleidoscope-OneShot/src/kaleidoscope/plugin/OneShot.cpp
  tests/issues/1335/1335.ino
  tests/issues/1335/sketch.json
  tests/issues/1335/sketch.yaml
  tests/issues/1335/test.ktest
Labels: bug, plugin

#1317 Further separate layer shifts and locks
  src/kaleidoscope/layers.cpp
  tests/issues/1337/1337.ino
  tests/issues/1337/sketch.json
  tests/issues/1337/sketch.yaml
  tests/issues/1337/test.ktest
Labels: bug, design-change

#1332 Fix defining multiple prefix layers
  plugins/Kaleidoscope-PrefixLayer/src/kaleidoscope/plugin/PrefixLayer.cpp
  plugins/Kaleidoscope-PrefixLayer/src/kaleidoscope/plugin/PrefixLayer.h
  tests/issues/1324/1324.ino
  tests/issues/1324/sketch.json
  tests/issues/1324/sketch.yaml
  tests/issues/1324/test.ktest
Labels: bug, plugin

#1339 Add Chord plugin
  examples/Keystrokes/Chord/Chord.ino
  examples/Keystrokes/Chord/sketch.json
  examples/Keystrokes/Chord/sketch.yaml
  plugins/Kaleidoscope-Chord/README.md
  plugins/Kaleidoscope-Chord/library.properties
  plugins/Kaleidoscope-Chord/src/Kaleidoscope-Chord.h
  plugins/Kaleidoscope-Chord/src/kaleidoscope/plugin/Chord.cpp
  plugins/Kaleidoscope-Chord/src/kaleidoscope/plugin/Chord.h
  tests/plugins/Chord/basic/basic.ino
  tests/plugins/Chord/basic/common.h
  tests/plugins/Chord/basic/sketch.json
  tests/plugins/Chord/basic/sketch.yaml
  tests/plugins/Chord/basic/test.ktest
Labels: plugin
